In [1]:
# 3rd Party Imports
import pandas as pd
import seaborn as sns
from datetime import datetime
import matplotlib.pyplot as plt 
import numpy as np
import matplotlib as plt
import geopandas as gpd

# Configure Notebook
%matplotlib inline
plt.style.use('fivethirtyeight')
sns.set_context("notebook")
import warnings
warnings.filterwarnings('ignore')

In [2]:
eqao = gpd.read_file("csv/2021_EQAO.csv")
osslt = gpd.read_file("csv/2021_OSSLT.csv")
high = gpd.read_file("csv/secondary_schools_combined.csv")

In [7]:
eqao = eqao.iloc[2:]
eqao.head()

,School Name,Total # of\nStudents,# of\nParticipating\nStudents,# of\nStudents at\nLevels 3/4,% at Levels\n3/4
4,Albert Campbell Collegiate Institute,169,158,100,63%
5,Birchmount Park Collegiate Institute,104,87,28,32%
6,Bloor Collegiate Institute,78,75,59,79%
7,C W Jefferys Collegiate Institute,84,73,14,19%
8,Cedarbrae Collegiate Institute,120,114,59,52%

In [9]:
osslt = osslt.loc[:, ~osslt.columns.str.contains('field', case=False)]

In [11]:
osslt = osslt.iloc[7:]

In [15]:
osslt = osslt[osslt["Taking"] != 'N/R']
osslt = osslt.drop(columns = "Taking")

In [21]:
osslt.shape

(15, 7)

In [17]:
osslt.to_csv("osslt.csv", index = False)