In [14]:
# 3rd Party Imports
import pandas as pd
import seaborn as sns
from datetime import datetime
import matplotlib.pyplot as plt 
import numpy as np
import matplotlib as plt
import geopandas as gpd

# Configure Notebook
%matplotlib inline
plt.style.use('fivethirtyeight')
sns.set_context("notebook")
import warnings
warnings.filterwarnings('ignore')

In [25]:
eqao = gpd.read_file("csv/2021_EQAO.csv")
osslt = gpd.read_file("csv/2021_OSSLT.csv")
high = gpd.read_file("csv/secondary_schools_combined.csv")

In [28]:
osslt

,School Name,field_2,field_3,Number of\nPreviously\nEligible\nStudents,field_5,field_6,Absent\n(All\nPreviously\nEligible\nStudents),field_8,field_9,Deferred\n(All\nPreviously\nEligible\nStudents),...,field_15,Number of\nFully\nParticipating\nStudents,field_17,field_18,Successful\n(Fully\nParticipating),field_20,field_21,Not\nSuccessful\n(Fully\nParticipating),field_23,field_24
0,School Name,,,Number of\nPreviously\nEligible\nStudents,,,Absent\n(All\nPreviously\nEligible\nStudents),,,Deferred\n(All\nPreviously\nEligible\nStudents),...,,Number of\nFully\nParticipating\nStudents,,,Successful\n(Fully\nParticipating),,,Not\nSuccessful\n(Fully\nParticipating),,
1,,,,,,,,,,,...,,,,,,,,,,
2,,,,,,,,,,,...,,,,,,,,,,
3,,,,,,,,,,,...,,,,,,,,,,
4,,,,,,,,,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,Woburn Collegiate Institute,247,,,5%,,,0%,,,...,,,82%,,,18%,,,,
132,York Humber High School,,N/R,,,N/R,,,N/R,,...,N/R,,,N/R,,,N/R,,,
133,York Memorial Collegiate Institute,210,,,<1%,,,3%,,,...,,,83%,,,17%,,,,
134,York Mills Collegiate Institute,258,,,5%,,,1%,,,...,,,92%,,,8%,,,,
135,Yorkdale Secondary School,,N/R,,,N/R,,,N/R,,...,N/R,,,N/R,,,N/R,,,

In [49]:
def combine_columns(df):
    # Keep the first column
    result_df = df.iloc[:, [0]] 
    
    # Iterate over columns in chunks of 3 starting from index 1
    for i in range(1, len(df.columns), 3):  # Start from column 1 (index 1)
        # Select 3 consecutive columns
        cols_to_combine = df.iloc[:, i:i+3]
        
        # For each row, take the first non-null value across these columns
        new_column = cols_to_combine.apply(lambda row: row.dropna().iloc[0], axis=1)
        
        # Append the combined column to the result dataframe
        result_df = pd.concat([result_df, new_column], axis=1)
    
    # Rename the new columns for clarity
    result_df.columns = ['School Name'] + [f'Combined_{i//3}' for i in range(1, len(result_df.columns))]
    
    return result_df


combined_df = combine_columns(osslt)

In [50]:
combined_df.head(50)

,School Name,Combined_0,Combined_0,Combined_1,Combined_1,Combined_1,Combined_2,Combined_2,Combined_2
0,School Name,,,,,Taking,,,
1,,,,,,OSSLC,,,
2,,,,,,(All,,,
3,,,,,,Previously,,,
4,,,,,,Eligible,,,
5,,,,,,Students),,,
6,,Province,148430,12%,2%,1%,127272,85%,15%
7,,TDSB,17669,9%,2%,1%,15454,85%,15%
8,A Y Jackson Secondary School,,,,,,,,
9,Agincourt Collegiate Institute,,,,,,,,
10,Albert Campbell Collegiate Institute,,,,,,,,
11,ALPHA II Alternative School (Sec),,N/R1,N/R,N/R,N/R,N/R,N/R,N/R
12,Alternative Scarborough Education 1,,N/R,N/R,N/R,N/R,N/R,N/R,N/R
13,Avondale Secondary Alternative School,,,,,,,,
14,Birchmount Park Collegiate Institute,,,,,,,,
15,Bloor Collegiate Institute,,,,,,,,
16,Burnhamthorpe Collegiate Institute,,N/R,N/R,N/R,N/R,N/R,N/R,N/R
17,C W Jefferys Collegiate Institute,,,,,,,,
18,CALC Secondary School,,N/R,N/R,N/R,N/R,N/R,N/R,N/R
19,Cedarbrae Collegiate Institute,,,,,,,,
20,Central Technical School,,,,,,,,
21,Central Toronto Academy,,,,,,,,
22,City School,,N/R,N/R,N/R,N/R,N/R,N/R,N/R
23,Contact Alternative School,,,,,,,,
24,Danforth Collegiate and Technical Institute,,,,,,,,
25,David and Mary Thomson Collegiate Institute,,,,,,,,
26,Delphi Secondary Alternative School,,,,,,,,
27,Don Mills Collegiate Institute,,,,,,,,
28,School Name,Number of\nPreviously\nEligible\nStudents,Absent\n(All\nPreviously\nEligible\nStudents),Deferred\n(All\nPreviously\nEligible\nStudents),,Number of\nFully\nParticipating\nStudents,Successful\n(Fully\nParticipating),Not\nSuccessful\n(Fully\nParticipating),
29,,,,,,,,,
30,,,,,,,,,
31,,,,,,,,,
32,,,,,,,,,
33,,,,,,,,,
34,Downsview Secondary School,123,5%,15%,7%,87,59%,41%,
35,Dr Norman Bethune Collegiate Institute,276,2%,4%,0%,258,84%,16%,
36,Drewry Secondary School,,,,,,,,
37,Earl Haig Secondary School,527,6%,<1%,0%,492,92%,8%,
38,East York Alternative Secondary School,25,20%,40%,0%,10,40%,60%,
39,East York Collegiate Institute,311,5%,0%,<1%,295,82%,18%,
40,Eastdale Collegiate Institute,,,,,,,,
41,Emery Collegiate Institute,138,10%,4%,0%,117,61%,39%,
42,Emery EdVance Secondary School,,,,,,,,
43,Etobicoke Collegiate Institute,306,4%,<1%,0%,293,92%,8%,
44,Etobicoke School of the Arts,234,5%,0%,0%,222,97%,3%,
45,Etobicoke Secondary Alternative School,16,19%,0%,0%,13,31%,69%,
46,Forest Hill Collegiate Institute,185,2%,1%,1%,178,91%,9%,
47,Frank Oke Secondary School,,,,,,,,
48,George Harvey Collegiate Institute\n(Consolida...,138,22%,11%,0%,87,55%,45%,
49,George S Henry Academy,107,29%,0%,3%,73,74%,26%,

In [ ]:
osslt = osslt[osslt["School Name"] != ""]
osslt = osslt[osslt["School Name"] != "School Name"]
#osslt = osslt.loc[:, ~osslt.columns.str.contains('field')]
osslt = osslt.drop(columns = "Taking")

In [18]:
osslt.shape

(104, 7)

In [19]:
#osslt.to_csv("osslt.csv", index = False)