In [ ]:
import pdfplumber
import pandas as pd
from pathlib import Path

current_dir = Path.cwd()

# Get the parent directory
parent_dir = current_dir.parent
csv_folder = parent_dir / 'school_data' / 'csv'
pdf_path = parent_dir / "school_data" / "pdf" / "2021_EQAO.pdf"

csv_folder.mkdir(parents=True, exist_ok=True)

all_tables = []

# Open the PDF with pdfplumber
with pdfplumber.open(pdf_path) as pdf:
    for page in pdf.pages:
        all_tables.append(page.extract_tables())
print(all_tables)
            
final_tables = []
for i in range(len(all_tables)):
    final_tables.extend(all_tables[i][0][3:])

final_df = pd.DataFrame(final_tables, columns = all_tables[1][0][0])

csv_file_path = csv_folder / '2021_EQAO.csv'

final_df.to_csv(csv_file_path, index=False)

print(final_df)

[[[['School Name', 'Total # of\nStudents', '# of\nParticipating\nStudents', '# of\nStudents at\nLevels 3/4', '% at Levels\n3/4'], ['Province', '70279', '66805', '34954', '52%'], ['TDSB', '7512', '6832', '3606', '53%'], ['A Y Jackson Secondary School', '112', '103', '96', '93%'], ['Agincourt Collegiate Institute', '184', '172', '125', '73%'], ['Albert Campbell Collegiate Institute', '169', '158', '100', '63%'], ['Birchmount Park Collegiate Institute', '104', '87', '28', '32%'], ['Bloor Collegiate Institute', '78', '75', '59', '79%'], ['C W Jefferys Collegiate Institute', '84', '73', '14', '19%'], ['Cedarbrae Collegiate Institute', '120', '114', '59', '52%'], ['Central Technical School', '30', '28', '8', '29%'], ['Central Toronto Academy', '68', '50', '22', '44%'], ['Danforth Collegiate and Technical\nInstitute', '180', '169', '89', '53%'], ['David and Mary Thomson Collegiate\nInstitute', '125', '105', '20', '19%'], ['Don Mills Collegiate Institute', '116', '103', '63', '61%'], ['Downsview Secondary School', '24', '22', '0', '0%'], ['Dr Norman Bethune Collegiate Institute', '132', '123', '100', '81%'], ['Earl Haig Secondary School', '207', '171', '116', '68%'], ['East York Collegiate Institute', '106', '95', '27', '28%']], [['# of'], ['Participating'], ['Students']], [['# of'], ['Students at'], ['Levels 3/4']], [['Total # of'], ['Students']], [['% at Levels'], ['3/4']]], [[['School Name', 'Total # of\nStudents', '# of\nParticipating\nStudents', '# of\nStudents at\nLevels 3/4', '% at Levels\n3/4'], ['Eastdale Collegiate Institute', 'N/R2', 'N/R', 'N/R', 'N/R'], ['Emery Collegiate Institute', '59', '54', '10', '19%'], ['Etobicoke Collegiate Institute', '95', '91', '57', '63%'], ['Etobicoke School of the Arts', '111', '109', '78', '72%'], ['Forest Hill Collegiate Institute', '24', '23', '15', '65%'], ['George Harvey Collegiate Institute\n(Consolidated to York Memorial CI from\nSept. 2022)', '68', '57', '6', '11%'], ['George S Henry Academy', '63', '59', '20', '34%'], ['Georges Vanier Secondary School', '63', '51', '19', '37%'], ['Greenwood Secondary School', '30', '29', '10', '34%'], ['Harbord Collegiate Institute', '100', '87', '55', '63%'], ['Heydon Park Secondary School', 'N/R', 'N/R', 'N/R', 'N/R'], ['Humberside Collegiate Institute', '141', '136', '94', '69%'], ['Jarvis Collegiate Institute', '41', '39', '14', '36%'], ['John Polanyi Collegiate Institute', '57', '43', '14', '33%'], ['Kipling Collegiate Institute', '82', '69', '15', '22%'], ['Lakeshore Collegiate Institute', '40', '35', '18', '51%'], ["L'Amoreaux Collegiate Institute", '37', '36', '12', '33%'], ['Lawrence Park Collegiate Institute', '143', '133', '98', '74%'], ['Leaside High School', '151', '143', '101', '71%'], ['Lester B Pearson Collegiate Institute', '117', '108', '41', '38%'], ['Malvern Collegiate Institute', '152', '147', '109', '74%'], ['Marc Garneau Collegiate Institute', '221', '191', '71', '37%'], ['Martingrove Collegiate Institute', '116', '115', '58', '50%'], ['Monarch Park Collegiate Institute', '136', '131', '83', '63%'], ['Native Learning Centre East', 'N/R', 'N/R', 'N/R', 'N/R'], ['Newtonbrook Secondary School', '86', '69', '30', '43%'], ['North Albion Collegiate Institute', '75', '68', '10', '15%'], ['North Toronto Collegiate Institute', '36', '18', '11', '61%'], ['Northern Secondary School', '257', '236', '158', '67%']], [['# of'], ['Participating'], ['Students']], [['# of'], ['Students at'], ['Levels 3/4']], [['Total # of'], ['Students']], [['% at Levels'], ['3/4']]], [[['School Name', 'Total # of\nStudents', '# of\nParticipating\nStudents', '# of\nStudents at\nLevels 3/4', '% at Levels\n3/4'], ['Northview Heights Secondary School', '187', '158', '56', '35%'], ['Oakwood Collegiate Institute', '57', '57', '25', '44%'], ['Parkdale Collegiate Institute', '98', '90', '53', '59%'], ['R H King Academy', '148', '140', '88', '63%'], ['Richview Collegiate Institute', '118', '116', '61', '53%'], ['Riverdale Collegiate Institute', '357', '339', '209', '62%'], ['Rosedale Heights School of the Arts', '117', '114', '67', '59%'], ['Runnymede Collegiate Institute', '98', '91', '27', '30%'], ['SATEC @ WA Porter Collegiate Institute', '189', '179', '107', '60%'], ['Silverthorn Collegiate Institute', '83', '81', '41', '51%'], ['Sir John A Macdonald Collegiate\nInstitute', '11', '10', '6', '60%'], ['Sir Oliver Mowat Collegiate Institute', '99', '97', '36', '37%'], ['Sir Wilfrid Laurier Collegiate Institute', '143', '134', '68', '51%'], ['Stephen Leacock Collegiate Institute', '43', '40', '14', '35%'], ['Thistletown Collegiate Institute', '64', '50', '3', '6%'], ['Ursula Franklin Academy', '48', '46', '40', '87%'], ['Victoria Park Collegiate Institute', '137', '126', '85', '67%'], ['West Hill Collegiate Institute', '92', '83', '22', '27%'], ['West Humber Collegiate Institute', '95', '85', '34', '40%'], ['Western Technical-Commercial School', '123', '111', '61', '55%'], ['Weston Collegiate Institute', '93', '83', '23', '28%'], ['Westview Centennial Secondary School', '78', '61', '7', '11%'], ['Wexford Collegiate School for the Arts', '118', '107', '45', '42%'], ['William Lyon Mackenzie Collegiate\nInstitute', '145', '140', '101', '72%'], ['Winston Churchill Collegiate Institute', '64', '54', '11', '20%'], ['Woburn Collegiate Institute', '92', '83', '49', '59%'], ['York Memorial Collegiate Institute', '67', '63', '21', '33%'], ['York Mills Collegiate Institute', '174', '159', '113', '71%']], [['# of'], ['Participating'], ['Students']], [['# of'], ['Students at'], ['Levels 3/4']], [['Total # of'], ['Students']], [['% at Levels'], ['3/4']]]]
                                     School Name Total # of\nStudents  \
0                   A Y Jackson Secondary School                  112
1                 Agincourt Collegiate Institute                  184
2           Albert Campbell Collegiate Institute                  169
3           Birchmount Park Collegiate Institute                  104
4                     Bloor Collegiate Institute                   78
..                                           ...                  ...
64  William Lyon Mackenzie Collegiate\nInstitute                  145
65        Winston Churchill Collegiate Institute                   64
66                   Woburn Collegiate Institute                   92
67            York Memorial Collegiate Institute                   67
68               York Mills Collegiate Institute                  174

   # of\nParticipating\nStudents # of\nStudents at\nLevels 3/4  \
0                            103                            96
1                            172                           125
2                            158                           100
3                             87                            28
4                             75                            59
..                           ...                           ...
64                           140                           101
65                            54                            11
66                            83                            49
67                            63                            21
68                           159                           113

   % at Levels\n3/4
0               93%
1               73%
2               63%
3               32%
4               79%
..              ...
64              72%
65              20%
66              59%
67              33%
68              71%

[69 rows x 5 columns]

In [75]:
# Use a relative path
pdf_path = parent_dir/'school_data'/"pdf"/ "2021_osslt.pdf"
# Initialize an empty list to hold table data
all_tables = []
 
# Open the PDF with pdfplumber
with pdfplumber.open(pdf_path) as pdf:
    for page in pdf.pages:
        # Extract tables from the current page
        all_tables.append(page.extract_tables())

final_tables = []
for i in range(1, len(all_tables)):
    final_tables.extend(all_tables[i][0])

final_df = pd.DataFrame(final_tables, columns = all_tables[1][0][0])

final_df.to_csv(csv_folder/'2021_OSSLT.csv', index=False)

   
# Display the DataFrame
final_df

,School Name,None,None,Number of\nPreviously\nEligible\nStudents,None,None,Absent\n(All\nPreviously\nEligible\nStudents),None,None,Deferred\n(All\nPreviously\nEligible\nStudents),...,,Number of\nFully\nParticipating\nStudents,None,None,Successful\n(Fully\nParticipating),None,None,Not\nSuccessful\n(Fully\nParticipating),None,None
0,School Name,None,None,Number of\nPreviously\nEligible\nStudents,None,None,Absent\n(All\nPreviously\nEligible\nStudents),None,None,Deferred\n(All\nPreviously\nEligible\nStudents),...,,Number of\nFully\nParticipating\nStudents,None,None,Successful\n(Fully\nParticipating),None,None,Not\nSuccessful\n(Fully\nParticipating),None,None
1,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,Woburn Collegiate Institute,247,None,None,5%,None,None,0%,None,None,...,None,None,82%,None,None,18%,None,None,None,None
132,York Humber High School,,N/R,,,N/R,,,N/R,,...,N/R,,,N/R,,,N/R,,None,None
133,York Memorial Collegiate Institute,210,None,None,<1%,None,None,3%,None,None,...,None,None,83%,None,None,17%,None,None,None,None
134,York Mills Collegiate Institute,258,None,None,5%,None,None,1%,None,None,...,None,None,92%,None,None,8%,None,None,None,None
135,Yorkdale Secondary School,,N/R,,,N/R,,,N/R,,...,N/R,,,N/R,,,N/R,,None,None