In [1]:
import pdfplumber
import pandas as pd
from pathlib import Path

current_dir = Path.cwd()

# Get the parent directory
parent_dir = current_dir.parent
csv_folder = parent_dir / 'school_data' / 'csv'
pdf_path = parent_dir / "school_data" / "pdf" / "2021_EQAO.pdf"

csv_folder.mkdir(parents=True, exist_ok=True)

all_tables = []

# Open the PDF with pdfplumber
with pdfplumber.open(pdf_path) as pdf:
    for page in pdf.pages:
        all_tables.append(page.extract_tables())
print(all_tables)
            
final_tables = []
for i in range(len(all_tables)):
    final_tables.extend(all_tables[i][0][3:])

final_df = pd.DataFrame(final_tables, columns = all_tables[1][0][0])

csv_file_path = csv_folder / '2021_EQAO.csv'

final_df.to_csv(csv_file_path, index=False)

print(final_df)

[[[['School Name', 'Total # of\nStudents', '# of\nParticipating\nStudents', '# of\nStudents at\nLevels 3/4', '% at Levels\n3/4'], ['Province', '70279', '66805', '34954', '52%'], ['TDSB', '7512', '6832', '3606', '53%'], ['A Y Jackson Secondary School', '112', '103', '96', '93%'], ['Agincourt Collegiate Institute', '184', '172', '125', '73%'], ['Albert Campbell Collegiate Institute', '169', '158', '100', '63%'], ['Birchmount Park Collegiate Institute', '104', '87', '28', '32%'], ['Bloor Collegiate Institute', '78', '75', '59', '79%'], ['C W Jefferys Collegiate Institute', '84', '73', '14', '19%'], ['Cedarbrae Collegiate Institute', '120', '114', '59', '52%'], ['Central Technical School', '30', '28', '8', '29%'], ['Central Toronto Academy', '68', '50', '22', '44%'], ['Danforth Collegiate and Technical\nInstitute', '180', '169', '89', '53%'], ['David and Mary Thomson Collegiate\nInstitute', '125', '105', '20', '19%'], ['Don Mills Collegiate Institute', '116', '103', '63', '61%'], ['Downsview Secondary School', '24', '22', '0', '0%'], ['Dr Norman Bethune Collegiate Institute', '132', '123', '100', '81%'], ['Earl Haig Secondary School', '207', '171', '116', '68%'], ['East York Collegiate Institute', '106', '95', '27', '28%']], [['# of'], ['Participating'], ['Students']], [['# of'], ['Students at'], ['Levels 3/4']], [['Total # of'], ['Students']], [['% at Levels'], ['3/4']]], [[['School Name', 'Total # of\nStudents', '# of\nParticipating\nStudents', '# of\nStudents at\nLevels 3/4', '% at Levels\n3/4'], ['Eastdale Collegiate Institute', 'N/R2', 'N/R', 'N/R', 'N/R'], ['Emery Collegiate Institute', '59', '54', '10', '19%'], ['Etobicoke Collegiate Institute', '95', '91', '57', '63%'], ['Etobicoke School of the Arts', '111', '109', '78', '72%'], ['Forest Hill Collegiate Institute', '24', '23', '15', '65%'], ['George Harvey Collegiate Institute\n(Consolidated to York Memorial CI from\nSept. 2022)', '68', '57', '6', '11%'], ['George S Henry Academy', '63', '59', '20', '34%'], ['Georges Vanier Secondary School', '63', '51', '19', '37%'], ['Greenwood Secondary School', '30', '29', '10', '34%'], ['Harbord Collegiate Institute', '100', '87', '55', '63%'], ['Heydon Park Secondary School', 'N/R', 'N/R', 'N/R', 'N/R'], ['Humberside Collegiate Institute', '141', '136', '94', '69%'], ['Jarvis Collegiate Institute', '41', '39', '14', '36%'], ['John Polanyi Collegiate Institute', '57', '43', '14', '33%'], ['Kipling Collegiate Institute', '82', '69', '15', '22%'], ['Lakeshore Collegiate Institute', '40', '35', '18', '51%'], ["L'Amoreaux Collegiate Institute", '37', '36', '12', '33%'], ['Lawrence Park Collegiate Institute', '143', '133', '98', '74%'], ['Leaside High School', '151', '143', '101', '71%'], ['Lester B Pearson Collegiate Institute', '117', '108', '41', '38%'], ['Malvern Collegiate Institute', '152', '147', '109', '74%'], ['Marc Garneau Collegiate Institute', '221', '191', '71', '37%'], ['Martingrove Collegiate Institute', '116', '115', '58', '50%'], ['Monarch Park Collegiate Institute', '136', '131', '83', '63%'], ['Native Learning Centre East', 'N/R', 'N/R', 'N/R', 'N/R'], ['Newtonbrook Secondary School', '86', '69', '30', '43%'], ['North Albion Collegiate Institute', '75', '68', '10', '15%'], ['North Toronto Collegiate Institute', '36', '18', '11', '61%'], ['Northern Secondary School', '257', '236', '158', '67%']], [['# of'], ['Participating'], ['Students']], [['# of'], ['Students at'], ['Levels 3/4']], [['Total # of'], ['Students']], [['% at Levels'], ['3/4']]], [[['School Name', 'Total # of\nStudents', '# of\nParticipating\nStudents', '# of\nStudents at\nLevels 3/4', '% at Levels\n3/4'], ['Northview Heights Secondary School', '187', '158', '56', '35%'], ['Oakwood Collegiate Institute', '57', '57', '25', '44%'], ['Parkdale Collegiate Institute', '98', '90', '53', '59%'], ['R H King Academy', '148', '140', '88', '63%'], ['Richview Collegiate Institute', '118', '116', '61', '53%'], ['Riverdale Collegiate Institute', '357', '339', '209', '62%'], ['Rosedale Heights School of the Arts', '117', '114', '67', '59%'], ['Runnymede Collegiate Institute', '98', '91', '27', '30%'], ['SATEC @ WA Porter Collegiate Institute', '189', '179', '107', '60%'], ['Silverthorn Collegiate Institute', '83', '81', '41', '51%'], ['Sir John A Macdonald Collegiate\nInstitute', '11', '10', '6', '60%'], ['Sir Oliver Mowat Collegiate Institute', '99', '97', '36', '37%'], ['Sir Wilfrid Laurier Collegiate Institute', '143', '134', '68', '51%'], ['Stephen Leacock Collegiate Institute', '43', '40', '14', '35%'], ['Thistletown Collegiate Institute', '64', '50', '3', '6%'], ['Ursula Franklin Academy', '48', '46', '40', '87%'], ['Victoria Park Collegiate Institute', '137', '126', '85', '67%'], ['West Hill Collegiate Institute', '92', '83', '22', '27%'], ['West Humber Collegiate Institute', '95', '85', '34', '40%'], ['Western Technical-Commercial School', '123', '111', '61', '55%'], ['Weston Collegiate Institute', '93', '83', '23', '28%'], ['Westview Centennial Secondary School', '78', '61', '7', '11%'], ['Wexford Collegiate School for the Arts', '118', '107', '45', '42%'], ['William Lyon Mackenzie Collegiate\nInstitute', '145', '140', '101', '72%'], ['Winston Churchill Collegiate Institute', '64', '54', '11', '20%'], ['Woburn Collegiate Institute', '92', '83', '49', '59%'], ['York Memorial Collegiate Institute', '67', '63', '21', '33%'], ['York Mills Collegiate Institute', '174', '159', '113', '71%']], [['# of'], ['Participating'], ['Students']], [['# of'], ['Students at'], ['Levels 3/4']], [['Total # of'], ['Students']], [['% at Levels'], ['3/4']]]]
                                     School Name Total # of\nStudents  \
0                   A Y Jackson Secondary School                  112
1                 Agincourt Collegiate Institute                  184
2           Albert Campbell Collegiate Institute                  169
3           Birchmount Park Collegiate Institute                  104
4                     Bloor Collegiate Institute                   78
..                                           ...                  ...
64  William Lyon Mackenzie Collegiate\nInstitute                  145
65        Winston Churchill Collegiate Institute                   64
66                   Woburn Collegiate Institute                   92
67            York Memorial Collegiate Institute                   67
68               York Mills Collegiate Institute                  174

   # of\nParticipating\nStudents # of\nStudents at\nLevels 3/4  \
0                            103                            96
1                            172                           125
2                            158                           100
3                             87                            28
4                             75                            59
..                           ...                           ...
64                           140                           101
65                            54                            11
66                            83                            49
67                            63                            21
68                           159                           113

   % at Levels\n3/4
0               93%
1               73%
2               63%
3               32%
4               79%
..              ...
64              72%
65              20%
66              59%
67              33%
68              71%

[69 rows x 5 columns]

In [13]:
# Use a relative path
pdf_path = parent_dir/'school_data'/"pdf"/ "2021_osslt.pdf"
# Initialize an empty list to hold table data
all_tables = []
 
# Open the PDF with pdfplumber
with pdfplumber.open(pdf_path) as pdf:
    for page in pdf.pages:
        # Extract tables from the current page
        all_tables.append(page.extract_tables())

final_tables = []
for i in range(1, len(all_tables)):
    final_tables.extend(all_tables[i][0])

final_df = pd.DataFrame(final_tables, columns = all_tables[1][0][0])

final_df.to_csv(csv_folder/'2021_OSSLT.csv', index=False)

   
# Display the DataFrame
final_df

,School Name,None,None,Number of\nPreviously\nEligible\nStudents,None,None,Absent\n(All\nPreviously\nEligible\nStudents),None,None,Deferred\n(All\nPreviously\nEligible\nStudents),...,,Number of\nFully\nParticipating\nStudents,None,None,Successful\n(Fully\nParticipating),None,None,Not\nSuccessful\n(Fully\nParticipating),None,None
0,School Name,None,None,Number of\nPreviously\nEligible\nStudents,None,None,Absent\n(All\nPreviously\nEligible\nStudents),None,None,Deferred\n(All\nPreviously\nEligible\nStudents),...,,Number of\nFully\nParticipating\nStudents,None,None,Successful\n(Fully\nParticipating),None,None,Not\nSuccessful\n(Fully\nParticipating),None,None
1,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,Woburn Collegiate Institute,247,None,None,5%,None,None,0%,None,None,...,None,None,82%,None,None,18%,None,None,None,None
132,York Humber High School,,N/R,,,N/R,,,N/R,,...,N/R,,,N/R,,,N/R,,None,None
133,York Memorial Collegiate Institute,210,None,None,<1%,None,None,3%,None,None,...,None,None,83%,None,None,17%,None,None,None,None
134,York Mills Collegiate Institute,258,None,None,5%,None,None,1%,None,None,...,None,None,92%,None,None,8%,None,None,None,None
135,Yorkdale Secondary School,,N/R,,,N/R,,,N/R,,...,N/R,,,N/R,,,N/R,,None,None

In [3]:
def consolidate_by_increment(df, id_col, start_col, increment):
    """
    Consolidates columns in incremental groups into one column each.

    Parameters:
    df (pd.DataFrame): The input dataframe.
    id_col (str): The name of the identifier column (e.g., 'School Name').
    start_col (int): The column index where grouping starts (after the identifier column).
    increment (int): The number of columns in each group to consolidate.

    Returns:
    pd.DataFrame: A dataframe with consolidated columns.
    """
    result = df[[id_col]].copy()  # Start with the identifier column
    total_cols = len(df.columns)

    # Loop through the columns in increments
    for i in range(start_col, total_cols, increment):
        # Select the group of `increment` columns
        group = df.columns[i:i + increment]  # Group of three columns at a time

        # Check for valid column names
        group = [col for col in group if col in df.columns]

        # Skip empty or incomplete groups
        if not group:
            continue

        # Consolidate non-NaN values
        result[f'Consolidated_{(i - start_col) // increment + 1}'] = df[group].bfill(axis=1).iloc[:, 0]

    return result



result_df = consolidate_by_increment(final_df, id_col='School Name', start_col=1, increment=3)

In [11]:
result_df.head(20)

,School Name,Number of\nPreviously\nEligible\nStudents,Absent\n(All\nPreviously\nEligible\nStudents),Deferred\n(All\nPreviously\nEligible\nStudents),Successful\n(Fully\nParticipating),Not\nSuccessful\n(Fully\nParticipating)
0,A Y Jackson Secondary School,312,8%,0%,88%,12%
1,Agincourt Collegiate Institute,388,1%,<1%,94%,6%
2,Albert Campbell Collegiate Institute,261,4%,7%,88%,12%
3,ALPHA II Alternative School (Sec),N/R1,N/R1,N/R1,N/R1,N/R1
4,Alternative Scarborough Education 1,N/R,N/R,N/R,N/R,N/R
5,Avondale Secondary Alternative School,19,16%,5%,73%,27%
6,Birchmount Park Collegiate Institute,169,22%,1%,79%,21%
7,Bloor Collegiate Institute,197,4%,0%,94%,6%
8,Burnhamthorpe Collegiate Institute,N/R,N/R,N/R,N/R,N/R
9,C W Jefferys Collegiate Institute,255,36%,0%,72%,28%
10,CALC Secondary School,N/R,N/R,N/R,N/R,N/R
11,Cedarbrae Collegiate Institute,264,13%,0%,76%,24%
12,Central Technical School,231,19%,0%,62%,38%
13,Central Toronto Academy,230,4%,<1%,86%,14%
14,City School,N/R,N/R,N/R,N/R,N/R
15,Contact Alternative School,12,8%,0%,36%,64%
16,Danforth Collegiate and Technical Institute,316,11%,0%,79%,21%
17,David and Mary Thomson Collegiate Institute,347,19%,0%,70%,30%
18,Delphi Secondary Alternative School,21,0%,10%,100%,0%
19,Don Mills Collegiate Institute,192,18%,0%,92%,8%

In [5]:
result_df.columns = result_df.iloc[0]  # Set the first row as column headers
result_df = result_df[1:]  # Drop the first row since it's now the header
result_df.reset_index(drop=True, inplace=True)

In [6]:
result_df.head()

,School Name,Number of\nPreviously\nEligible\nStudents,Absent\n(All\nPreviously\nEligible\nStudents),Deferred\n(All\nPreviously\nEligible\nStudents),,Taking,Successful\n(Fully\nParticipating),Not\nSuccessful\n(Fully\nParticipating),None
0,None,None,None,None,None,OSSLC,None,None,None
1,None,None,None,None,None,(All,None,None,None
2,None,None,None,None,None,Previously,None,None,None
3,None,None,None,None,None,Eligible,None,None,None
4,None,None,None,None,None,Students),None,None,None

In [7]:
result_df = result_df[~result_df["School Name"].isin([None, "School Name", ""])]
result_df = result_df.drop(columns=[col for col in result_df.columns if not col or col == "Taking"])
result_df.reset_index(drop=True, inplace=True)
result_df

,School Name,Number of\nPreviously\nEligible\nStudents,Absent\n(All\nPreviously\nEligible\nStudents),Deferred\n(All\nPreviously\nEligible\nStudents),Successful\n(Fully\nParticipating),Not\nSuccessful\n(Fully\nParticipating)
0,A Y Jackson Secondary School,312,8%,0%,88%,12%
1,Agincourt Collegiate Institute,388,1%,<1%,94%,6%
2,Albert Campbell Collegiate Institute,261,4%,7%,88%,12%
3,ALPHA II Alternative School (Sec),N/R1,N/R1,N/R1,N/R1,N/R1
4,Alternative Scarborough Education 1,N/R,N/R,N/R,N/R,N/R
...,...,...,...,...,...,...
99,Woburn Collegiate Institute,247,247,247,247,247
100,York Humber High School,,,,,
101,York Memorial Collegiate Institute,210,210,210,210,210
102,York Mills Collegiate Institute,258,258,258,258,258
103,Yorkdale Secondary School,,,,,

In [9]:
result_df

,School Name,Number of\nPreviously\nEligible\nStudents,Absent\n(All\nPreviously\nEligible\nStudents),Deferred\n(All\nPreviously\nEligible\nStudents),Successful\n(Fully\nParticipating),Not\nSuccessful\n(Fully\nParticipating)
0,A Y Jackson Secondary School,312,8%,0%,88%,12%
1,Agincourt Collegiate Institute,388,1%,<1%,94%,6%
2,Albert Campbell Collegiate Institute,261,4%,7%,88%,12%
3,ALPHA II Alternative School (Sec),N/R1,N/R1,N/R1,N/R1,N/R1
4,Alternative Scarborough Education 1,N/R,N/R,N/R,N/R,N/R
...,...,...,...,...,...,...
99,Woburn Collegiate Institute,247,247,247,247,247
100,York Humber High School,,,,,
101,York Memorial Collegiate Institute,210,210,210,210,210
102,York Mills Collegiate Institute,258,258,258,258,258
103,Yorkdale Secondary School,,,,,

In [8]:
result_df.to_csv(csv_folder/'2021_OSSLT.csv', index=False)