In [1]:
import pandas as pd
import os
import numpy as np
import ast

In [ ]:
# house_sigma = pd.read_csv("")
zolo = pd.read_csv("cleaned_zolo_from_newest_scraping.csv")
realtor = pd.read_csv("realtor_dropped_duplicates.csv")

In [69]:
zolo.shape, realtor.shape

((1684, 221), (1070, 73))

In [70]:
zolo["mls"] = zolo["mls"].astype(str).str[3:].str.replace("®", "", regex=False).str.strip()

In [71]:
merged = pd.concat([zolo, realtor], axis=0, ignore_index=True)

In [72]:
merged.columns

Index(['price', 'address', 'mls', 'rooms', 'room dimensions',
       'room_properties', 'Status', 'Type', 'Style', 'Size (sq ft)',
       ...
       'Utility Communications', 'Construction Status',
       'Construction Material', 'Waterfront Name', 'Other Style',
       'Fireplace Fuel', 'Utility-Hydro', 'Other', 'Age Of Building',
       'street address'],
      dtype='object', length=280)

In [ ]:
concise = merged[["price", "address", "mls", "Calculated_sqft", "Square Footage", ]]

In [74]:
concise

,price,address,mls,Calculated_sqft,Square Footage
0,550000,704 - 1990 Bloor Street W,W11238277,249.5,NaN
1,635000,104 - 95 La Rose Avenue,W11237359,1099.5,NaN
2,1895000,612 - 1 Strathgowan Avenue,C11238266,1099.5,NaN
3,499000,1107 - 68 Shuter Street,C11238058,549.5,NaN
4,777777,2701 - 65 St Mary Street,C11236562,549.5,NaN
...,...,...,...,...,...
2749,"$1,199,998",6116 - 388 YONGE STREET WToronto (Bay Street C...,C10428067,NaN,1200 - 1399 sqft
2750,"$999,999",2507 - 37 GROSVENOR STREETToronto (Bay Street ...,C10427780,NaN,800 - 899 sqft
2751,"$999,999",58 FRANKTON CRESCENTToronto (York University H...,W10427678,NaN,NaN
2752,"$999,000",131 DONLANDS AVENUEToronto (Danforth Village-E...,E10428053,NaN,1100 - 1500 sqft
2753,"$989,000",27 FELAN CRESCENTToronto (Thistletown-Beaumond...,W10428142,NaN,1100 - 1500 sqft

In [75]:
# Drop duplicates between the Zolo and Realtor datasets.
concise = concise.drop_duplicates(subset=['mls'])
concise.shape

(2585, 5)

In [76]:
concise.to_csv("ZOLO_REALTOR_TEMP.csv", index=False)

In [2]:
# Join old zolo and new zolo dfs by address
old_zolo_with_geoloc = pd.read_csv("zolo_with_coords.csv")
new_zolo = pd.read_csv("cleaned_zolo_from_newest_scraping.csv")

In [3]:
old_zolo_with_geoloc.shape

(1707, 244)

In [4]:
new_zolo.shape

(1684, 221)

In [5]:
total_zolo = pd.merge(new_zolo, old_zolo_with_geoloc, on="address", how="left")

In [6]:
total_zolo.shape

(1685, 464)

In [8]:
total_zolo[["lat", "long"]]

            lat       long
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
3           NaN        NaN
4           NaN        NaN
...         ...        ...
1680  43.762246 -79.394939
1681        NaN        NaN
1682  43.692608 -79.282117
1683  43.676277 -79.412249
1684  43.755334 -79.390517

[1685 rows x 2 columns]